.img-container .card-img {
    width: 100%;
    display: block;
}

.img-container {
    position: relative;
}

.img-container .heart-icon {
    position: absolute;
    width: 20px;
    top: 15px;
    right: 15px;
}


.img-container span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 15px;
}


.card-body h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 550;
}

.card-body p {
    height: 48px;
    overflow: hidden;
    font-weight: 400;
}

.action-container {
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.action-container img {
    height: 20px;
}

.action-container .btn {
    background: linear-gradient(45deg, rgb(30, 196, 99), rgb(36, 243, 146));
    color: white;
    border-radius: 5px;
    height: 27px;
    font-size: 15px;
    padding: 0 15px;
    border: none;
}

.action-container .btn:hover {
   cursor: pointer;;
}

.card {
    box-shadow: 1px 0px 6px 5px rgb(34, 47, 117);
}

.card-body {
    padding: 10px 15px;
    border-top: 0;
}